<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	<!--自动扫描的包  不扫描servlet-->
	<context:component-scan base-package="com.jinglun.yihuo">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!--自动扫描的属性文件-->
	<context:property-placeholder  location="classpath:*.properties"/>
	
	<!--配置数据源-->
	<bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="username" value="${user}"></property>
		<property name="url" value="${url}"></property>
		<property name="password" value="${password}"></property>
		<property name="driverClassName" value="${driver}"></property>
		<!--初始化最小连接数-->
		<property name="initialSize" value="10"></property>
		<!--最大并发数-->
		<property name="maxActive" value="100"></property>
		<!--最长等待时间-->
		<property name="maxWait" value="5"></property>
		<!--最小空闲连接-->
		<property name="minIdle" value="5"></property>
		<!--间隔多久检测空闲连接并关闭（毫秒）-->
		<property name="timeBetweenEvictionRunsMillis" value="60000"></property>
		
		<property name="filters" value="stat" />
	</bean>
	
	<!--配置事务管理器-->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!--事务管理器-->
	<tx:advice id="tx" transaction-manager="transactionManager">
		<tx:attributes>
			<!--根据名字使用事物-->
			<tx:method name="find*" read-only="true"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="insert*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	
	<!--配置实物切点-->
	<aop:config>
		<aop:pointcut expression="execution(*com.jinglun.yihuo.service.*.*(..))" id="txpointcut"/>
		<aop:advisor advice-ref="tx" pointcut-ref="txpointcut"/>
	</aop:config>
	
	
	<!--开启注解事务管理器-->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!--创建sqlsessionfactorybean-->
 	<bean name="sqlsessionfactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		
		<property name="mapperLocations" value="classpath:com/jinglun/yihuo/dao/*.xml"></property>
		
		<!--配置mybatis拦截器 分页插件-->
		<property name="plugins">
		<array>
			 <bean class="com.github.pagehelper.PageInterceptor">
			     <property name="properties"><value>params=value1</value></property>
			</bean>
		</array>
		</property>
	</bean>
	
	<!-- 自动对应接口生成dao代理实现类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.jinglun.yihuo.dao"></property>
		<property name="sqlSessionFactoryBeanName" value="sqlsessionfactory"></property>
	</bean>
	
</beans>